* {
    font-family: Arial;
}
body {
    margin:0;
    padding:0;
        
}
header {
    display:flex;
    justify-content: center;
    height:128px;
}
.container {
    display: flex;
    justify-content: space-between;
   
        
}

.logo {
    margin-top: 45px;
    text-align:left;
   
}
.buton {
    display: flex;
    margin-top: 65px;
    margin-left: 30px;

}
.column {
    flex-direction: column;
}
.banner_headline {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.banner_headline h1 {
    color:#0039c7;
    font-size:40px;
    margin:0;
    padding:0;
    text-align: center;

}
.banner_headline h2 {
    color:#000000;
    font-size:25px;
    text-align: center;
    margin:0;
    padding: 40px;
    margin-top: 30px;
}

.banner1 {
    flex:1;
    color:#FFFFFF;
    padding:20px;
    text-align: center;
    
}
.primeiralista {
    padding: 10px;
    margin: 5px;
}

.segundalista {
    padding: 10px
     
}

.banner1 {
    background-color: #0039c7;
}


.banner_title {
    font-size: 20px;

}
.banner_desc {
    font-size:15px;
    margin-top:18px;
    margin-bottom:20px;
}

.widget_title {
    margin-top:20px;
    margin-bottom:20px;
}
.widget_title_text {
    color:#000000;
    font-size:21px;
    font-weight: bold;
}
.widget_title_bar {
    width:50px;
    height:2px;
    background-color:#36a9e1 ;
    margin-top:8px;
}

.widget_body {
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}
.flex {
    display:flex;
    flex-wrap: wrap;
}

footer {
    background-color: #1e1e1e;
    display:flex;
    justify-content: center;
}


.footer_copy {
    border-top: 1px colid #2c2c2c;
    height:40px;
    line-height:40px;
    color:#FFFFFF;
    font-size:15px;
    margin-top:30px;
    text-align: center;

}
